table button {
  margin: 20px;
  border: 2px solid #ffafcc;
  background-color: #fff;
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
}

.today-table {
  background: #fff;
  text-align: center;
}






footer {
  display: flex;
  justify-content: space-between;
  align-items: right;
  color: #ffafcc;
}