.emo-button {
  margin: 20px;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
  width: 500px;
}

.emotion-list {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: right;
  color: #ffafcc;
}

.emotion-label {
  display: none;
}

.emo-button:hover {
  border: 2px solid #ffafcc;
}