main h2 {
  color: #ffafcc;
  text-align: center;
}


table {
  width: 100%;
  aspect-ratio: 1/1;
  table-layout: fixed;
  background: #fde2e4;
  border-radius: 1rem;
}



td div {
  display: flex;
  justify-content: center;
  align-items: center;
}


td img {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  border-radius: 0.5rem;
  margin: 10;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: right;
  color: #ffafcc;
}

table span {
 color: #ffafcc;
}