.popularImg {
  max-width: 70%;
  padding: 3rem;
}


main .caption {
  color: #ffafcc;
  text-align: center;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: right;
  color: #ffafcc;
}